{% extends 'base.html' %}
{% block content %}


                                    <!-- Page body start -->
                                    <div class="page-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Change Password</h5>
                                                        <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
                                                    </div>
                                                    <div class="card-block">
                                                        {% if messages %}
                        {% for message in messages %}
                         {% if message.tags == 'error' %}
                       <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      {{message}}
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                         </button>
                          </div>
                       {% endif %}
                        {% endfor %}
                       {% endif %}
                           {% if messages %}
                        {% for message in messages %}
                         {% if message.tags == 'success' %}
                       <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      {{message}}<button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                            </button>
                             </div>
                          {% endif %}
                           {% endfor %}
                          {% endif %}
                                                        <form class="form-material" method="POST" name="chngpwd" onSubmit="return valid();">
                                                            {% csrf_token %}
                                                            <div class="form-group form-default">
                                                                <input id="password" type="password"  class="form-control" name="cpwd"  required="true" placeholder="Enter Current Password">
                                                                <span class="form-bar"></span>
                                                              
                                                            </div>
                                                           
                                                            <div class="form-group form-default">
                                                                 <input id="password" type="password" name="npwd" class="form-control" required="true" placeholder="Enter New Password">
                                                                <span class="form-bar"></span>
                                                                
                                                            </div>
                                                            <div class="form-group form-default">
                                                               <input type="password" id="password"  name="confirmpassword" class="form-control" placeholder="Enter Confirm Password">
                                                                <span class="form-bar"></span>
                                                               
                                                            </div>
                                                           
                                                            <button type="submit" class="btn btn-primary me-2">Change</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                     
                                                            </div>
            <script type="text/javascript">
                    function valid()
                    {
                    if(document.chngpwd.npwd.value!= document.chngpwd.confirmpassword.value)
                    {
                    alert("New Password and Confirm Password Field do not match  !!");
                    document.chngpwd.confirmpassword.focus();
                    return false;
                    }
                    return true;
                    }
                    </script>

{% endblock %}